---
layout: blog
section_id: blog
---

<div class='full'>
  <div class='row'>
    <div class='large-9 columns'>
      <div class='mod modBlogPost big no_bg'>
        <div class='images'>
          {% if page.image %}
            <div class='image'><img alt="" src="{{site.url}}/{{page.image}}" /></div>
          {% endif %}
        </div>
        <div class='content'>
          <p class='info'>
            <span>{{page.date | date: "%B %d, %Y" }}</span>
            /
            <span>
              by
              <a href="#">{{page.author}}</a>
            </span>
            /
            <span>
              In
              {% for cat in page.categories %}
                <a href="#">{{cat}}</a>
                {% unless forloop.last %}
                    ,
                {% endunless %}
              {% endfor %}
            </span>
            /
            <span>
              <a href="#comments">4 comments</a>
            </span>
          </p>
          <h3><a href="{{page.url}}">{{page.title}}</a></h3>
          {{ content }}
        </div>
      </div>
      <div class='two spacing'></div>
      <a id='comments'></a>
      {% include comments.html %}
      <div class='four spacing'></div>
      <div id='comments-form'>
        <h3>Your comment</h3>
        <form accept-charset='UTF-8' action='#' method='post'>
          <p class='name'>
            <label for='name'>Your Name</label>
            <input class='input-text required' id='name' name='name' type='text'>
          </p>
          <p class='email'>
            <label for='email'>Your Email</label>
            <input class='input-text required' id='email' name='email' type='text'>
          </p>
          <p class='message'>
            <label for='message'>Your Message</label>
            <textarea class='required' cols='80' id='message' name='message' rows='5'></textarea>
          </p>
          <div class='spacing'></div>
          <p>
            <input class='button' type='submit' value='Send Message'>
          </p>
        </form>
      </div>
      <div class='four spacing'></div>
    </div>
    <div class='large-3 columns' id='sidebar'>
      {% include sidebar.html %}
    </div>
  </div>
</div>
<div class='full no-padding' style='background: #111'>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <p>2014 {{site.title}}. All rights reserved.</p>
    </div>
  </div>
  <div class='spacing'></div>
</div>
